@import url('fontFace.css');
@import url('jqUI.css');

html,body {
	font-family: "Open Sans", Consolas, "Droid Sans", Roboto, Cabin, "Arial Black", Lobster, Arial, Sans-Serif;
	font-size: 11pt;
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
    background: #DADADA;
    color: #212121;
}
html,body,*, *:after, *:before {
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing:antialiased;
    font-smoothing:subpixel-antialiased;
}	
#bodyWrapper{
overflow: visible;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}	 

.ajaxloader {
position: absolute;
width: 45px;
height: 45px;
left: 45%;
top: 45%;
padding: 10px;
margin: 0px;
border: 6px solid #fff;
border-right-color: transparent;
border-radius: 50%;
box-shadow: 0 0 15px 2px #eee;
-webkit-animation: spin 1s linear infinite;
-moz-animation: spin 1s linear infinite;
-ms-animation: spin 1s linear infinite;
-o-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;

}  

.content{
max-height: 99%;
overflow: auto;
padding: 10px;
}


.foot {
	height: 50px;
	background: #f1f5fb;
	-webkit-box-shadow: inset 0px 4px 13px #CCD9EA;
	box-shadow: inset 0px 4px 13px #CCD9EA;
}

.foot img {
	width: 52px;
	margin-left: 20px;
	float: left;
}

.foot b {
	margin: 10px;
	line-height: 40px;
	font-weight: 200;
}

.foot label {
	color: #333;
	margin-right: 60px;
}

.foot label i {
	color: #555;
	font-weight: normal;
	font-style: normal;
}

/*start Menu*/
#startmenu {
	border-radius: 5px;

	-webkit-box-shadow: inset 0 0 1px #fff;
	box-shadow: inset 0 0 1px #fff;
	background-color: #619bb9;

	background: -webkit-linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
	background: -moz-linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
	background: -o-linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
	background: -ms-linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
	background: linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
	border: solid 1px #102A3E;
	display: inline-block;
	margin: 100px 0 0 0px;
	overflow: visible;
	position: absolute;
	bottom: 41px;
	left: 0;
}

#applications {
	-webkit-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	border-radius: 3px;
	background: white;
	border: solid 1px #365167;
	display: block;
	float: left;
	list-style: none;
	margin: 7px 0 7px 7px;
	padding: 0;
}

#applications li {
	list-style: none;
}

#applications li a {
	border: solid 1px transparent;
	color: #4b4b4b;
	display: block;
	margin: 3px;
	min-width: 220px;
	padding: 3px;
	text-decoration: none;
}

#applications li a:hover {
	border-radius: 3px;

	-webkit-box-shadow: inset 0 0 1px #fff;
	box-shadow: inset 0 0 1px #fff;
	background-color: #cfe3fd;

	background: -webkit-linear-gradient(top, #dcebfd, #c2dcfd);
	background: -moz-linear-gradient(top, #dcebfd, #c2dcfd);
	background: -o-linear-gradient(top, #dcebfd, #c2dcfd);
	background: -ms-linear-gradient(top, #dcebfd, #c2dcfd);
	background: linear-gradient(top, #dcebfd, #c2dcfd);
	border: solid 1px #7da2ce;
}

#applications li a img {
	border: 0;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.search form {
	background: #E4F4FC;
	border-top: 2px solid #BEE6FD;
	padding: 10px 0;
	border-radius: 0 0 5px 5px;
	display: block;
	padding: 3px;
	height: 30px;
}

.search input[type=text] {
	background: white;
	border: 1px solid #AAA;
	padding: 3px 5px;
	margin: 0 14px;
	font: italic 12px Calibri,Arial,Sans-Serif;
	color: #999;
	width: 188px;
	position: relative;
	outline: none;
	background: white url(../img/search.png) no-repeat scroll 178px center;
}


/*start Button Buttom*/
#bottom {
	z-index: 1000;
	width: 100%;
	height: 48px;
	background-color: #619bb9;

	background: -webkit-linear-gradient(65deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9));
	background: -moz-linear-gradient(65deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9));
	background: -o-linear-gradient(65deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9));
	background: -ms-linear-gradient(65deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9));
	background: linear-gradient(65deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9));
	border-top: 1px solid rgba(0, 0, 0, 0.5);

	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.4);
	position: absolute;
	bottom: 0;
}

#bottom .start {

	width: 45px;
	height: 40px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
}

#bottom .taskbar {
	float: left;
	width: 80%;
	height: 100%;
	margin-left: 20px;
}

.taskbar ul {
	list-style: none;
	height: 90%;
	padding: 2px;
	vertical-align: top;
	margin: 2px;
}

.taskbar ul li {
	min-width: 35px;
	background: -webkit-linear-gradient(rgba(225, 225, 225, 0.6),rgba(52,38,66,0.6));
	background: -moz-linear-gradient(rgba(225, 225, 225, 0.6),rgba(52,38,66,0.6));
	background: -o-linear-gradient(rgba(225, 225, 225, 0.6),rgba(52,38,66,0.6));
	background: -ms-linear-gradient(rgba(225, 225, 225, 0.6),rgba(52,38,66,0.6));
	background: linear-gradient(rgba(225, 225, 225, 0.6),rgba(52,38,66,0.6));
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 3px #222;
	box-shadow: 0px 0px 3px #222;
	padding: 2px 15px 19px 13px;
	border: 1px solid #7B7481;
    height: 42px;
	float: left;
	margin-left: 5px;
	vertical-align: top;
}

.taskbar ul li:hover {
	background: -webkit-linear-gradient(rgba(225, 225, 225, 0.6),rgba(68,80,76,0.6));
	background: -moz-linear-gradient(rgba(225, 225, 225, 0.6),rgba(68,80,76,0.6));
	background: -o-linear-gradient(rgba(225, 225, 225, 0.6),rgba(68,80,76,0.6));
	background: -ms-linear-gradient(rgba(225, 225, 225, 0.6),rgba(68,80,76,0.6));
	background: linear-gradient(rgba(225, 225, 225, 0.6),rgba(68,80,76,0.6));
}

.taskbar ul li img {
display: inline;
box-sizing: content-box;
	min-width: 35px;
	height: 35px;
}

.taskbar ul li:hover{
cursor: pointer;
}

#bottom .datetime {
	width: 80px;
	left: 0;
	float: right;
	height: 100%;
	text-align: center;
	color: #fff;
	padding-right: 1em;
}

.searchbox{
clear: none;
float: left;
white-space: nowrap !important;
}

#sideBar{
float:right;
clear: none;
}

#Table td{
text-align: center;
vertical-align: top;
}


.noClear{
    white-space: nowrap !important;
	border: none !important;
}

#mainWrap{
height: 95%;
width: 100% !important;
}


.tileBar{
position: fixed;
bottom: 50px;
vertical-align: bottom;
clear: none;
}

#weatherMan{
vertical-align: bottom;
clear:none;
float:right;
margin-left:5px;
}

.deleteLink{
cursor: pointer;
}

#Table tr td{
text-align: center;
}

#dbWindow{
overflow: hidden;
}

#Search-T{
min-height: 350px;
}

 #refreshCode{
 display: absolute;
 bottom: 0px;
 vertical-align: bottom;
 margin: 0px;
 padding: 0px;
 }
 
 .ui-autocomplete, .ui-menu-item{
   background: #ffffff;
   color: #212121;
   z-index: 999999;
 }
 
#dbCaption{
cursor: move;
}

/* 
// .sideBar Login block
*/

.metro .user-id {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  width: auto;
  color: inherit;
  cursor: default;
  float: right;
  clear: both;
}

.metro .user-id .user-id-image {
  width: 40px;
  height: 40px;
  float: right;
  margin-left: 10px;
  color: inherit;
  background-color: #555;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
}

.metro .user-id .user-id-image img,
.metro .user-id .user-id-image [class*="icon-"] {
  color: inherit;
  font-size: 16pt;
  line-height: 16pt;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.metro .user-id .user-id-image [class*="icon-"] {
  padding: 10px;

}
.metro .user-id .user-id-name {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
}
.metro .user-id .user-id-name .first-name,
.metro .user-id .user-id-name .last-name {
  display: block;
  color: inherit;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  line-height: 12pt;

}
.metro .user-id .user-id-name .first-name {
  font-size: 20pt;
  line-height: 20pt;

}
.metro .user-id .user-id-name .last-name {
  font-size: 12pt;
}